attrs
Brotli
certifi
chardet
chart-studio
click
colorama
cycler
Cython
dash
dash-auth
dash-bootstrap-components
dash-core-components
dash-extensions==0.0.58
dash-html-components
dash-renderer
dash-table
dataclasses
decorator
et-xmlfile
Flask
Flask-Caching
Flask-Compress
Flask-SeaSurf
idna
importlib-metadata
ipython-genutils
itsdangerous
jdcal
Jinja2
joblib
jsonschema
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
more-itertools
nbformat
numpy
openpyxl
pandas
pandas-datareader
patsy
Pillow
plotly
plotly-express
pyparsing
pyrsistent
python-dateutil
pytz
requests
requests-file
requests-ftp
retrying
scikit-learn
scipy
seaborn
six
statsmodels
tenacity
threadpoolctl
traitlets
typing-extensions
ua-parser
urllib3
Werkzeug
wrapt
xlrd
zipp
gunicorn
